<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BrainDrain</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css" />
	<h2> Welcome to BrainDrain project </h2>
<!--	<script type="text/javascript">
		function hello() {
			document.querySelector('h3').innerHTML = 'goodbye'
		}
	</script> -->
</head>
<body>
<div>
<ul>
<li><a href="">Linux/Bash</li>
<li><a href="">Networking</a></li>
<li><a href="">Security</a></li>
<li><a href="">Web</a></li>
<li><a href="">DB</a></li>
<li><a href="">Clouds</a></li>
</ul>
</div>	




<footer>
	<div id="basement">
		<p>&copy; 2020 <br> Paul Hazy Technologies</p>
	</div>	
</footer>
    
</body>
</html>