<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weasel Project</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css" />
	<h2> Welcome to weasel project </h2>
	<script type="text/javascript">
		function hello() {
			document.querySelector('h3').innerHTML = 'goodbye'
		}
	</script>
</head>
<body>
	<header><div id="title"> <h1>BrainDrain</h1> </div></header>
	<div id="header">	
	    <p> Brain Drain, {{ name }} </p>
	    <p> Searching </p>
	    <p> All about us </p>
	</div>
	<div id="feed">
		<b>feedback</b>
	</div>
	<div id="text"><p>Welcome to Flask’s documentation. Get started with Installation and then get an overview with the Quickstart.<br> There is also a more detailed Tutorial that shows how to create a small but complete application with Flask. <br> Common patterns are described in the Patterns for Flask section. The rest of the docs describe each component of Flask in detail, with a full reference in the API section. <br>

Flask depends on the Jinja template engine and the Werkzeug WSGI toolkit. The documentation for these libraries can be found at:

Jinja documentation

Werkzeug documentation</p></div>
<footer>

	<div id="basement">
		<p>&copy; 2020 <br> Paul Hazy Technologies</p>
	</div>	
</footer>
    
</body>
</html>